*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
:root{
  --blue-color: #0075ff;
  --blue-alt-color: #0d69d5;
  --orange-color: #f59e0b;
  --green-color: #22c55e;
  --red-color: #f44336;
  --grey-color: #888;
  --main-transation:.3s;
}
:focus{
  outline: none;
}
ul{
  list-style: none;
}
a{
  text-decoration: none;
  color: unset;
}
.button{
  padding: 5px 10px;
  background-color: var(--blue-color);
  color: white;
  width: fit-content;
  border-radius: 8px;
  font-size: 14px;
  display: block;
  border: none;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #2196f3;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(23, 135, 224);
}
main{
  height: 100%;
  min-height: 100vh;
  background-color: #f1f5f9;
  display: flex;
  overflow-x: hidden;
}
.side-bar{
  box-shadow: 2px 0 5px rgba(208, 208, 208, 0.753);
  width: calc(150px + 5.2vw);
  background-color: white;
  padding: 20px;
  position: relative;
}
.side-bar .container{
  display: flex;
  flex-flow: column;
  width: calc(110px + 5.2vw);
  position: fixed;
}
.side-bar h3{
  margin: 0 0 50px;
  position: relative;
  text-align: center;
}
.side-bar h3::before , .side-bar h3::after{
  content: "";
  bottom: -20px;
  transform: translate(-50% , 50%);
  left: 50%;
  background-color: black;
  position: absolute;
}
.side-bar h3::before{
  width: 76px;
  height: 2px;
}
.side-bar h3::after{
  width: 12px;
  height: 12px;
  border-radius: 50%;
  border: 4px solid white;
}
.side-bar ul{
  width: 100%;
}
.side-bar i{
  text-align: center;
  width: 25px;
}
.side-bar a{
  display: block;
  padding: 10px 5px;
  font-size: 14px;
  border-radius: 8px;
  margin-bottom: 5px;
  transition:var(--main-transation);
}
.side-bar a:hover , .side-bar a.active{
  background-color: #f3f3f3;
}
@media (max-width: 767px){
  .side-bar {
    width: 58px;
    padding-inline: 10px;
  }
  .side-bar .container{
    width: 38px;
  }
  .side-bar h3::before , .side-bar h3::after{
    content: none;
  }
  .side-bar h3{
    font-size: 13px;
    margin-bottom: 15px;
  }
  .side-bar ul span{
    display: none;
  }
  .side-bar ul i{
    width: 100%;
  }
}
main>.page{
  flex: 1;
}
header{
  background-color: white;
  padding:15px 20px;
  display: flex;
  justify-content:flex-end;
  align-items: center;
}
header img{
  max-width: 32px;
  margin-left: 15px;
}
header .search{
  position: relative;
  margin-right: auto;
}
header input{
  padding: 10px 10px 10px 30px;
  width: 160px;
  font-size: 13px;
  border: 1px solid #ddd;
  border-radius: 10px;
  transition: var(--main-transation);
}
header .search::before{
  font-family: "Font Awesome 5 Free";
  content: "\f002";
  font-weight: 900;
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 14px;
  color: var(--grey-color);
}
header .fa-bell{
  position: relative;
}
header .fa-bell::after{
  content: "";
  position: absolute;
  background-color: red;
  width: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  top: -15px;
  right: -5px;
}
header input:focus{
  width: 200px;
}
header input:focus::placeholder{
  opacity: 0;
}
.page > .content{
  padding: 20px;
}
@media (max-width:767px) {
  body .page > .content{
    padding: 10px;
  }
}
.page > .content h1{
  margin-bottom:40px ;
  position: relative;
}
.page > .content h1::before{
  content: "";
  position: absolute;
  width: 125px;
  background-color: white;
  height: 3px;
  left: 0;
  bottom: -10px;
}
.page > .content h1::after{
  content: "";
  position: absolute;
  width: 45px;
  background-color: black;
  height: 3px;
  left: 0;
  bottom: -10px;
}
.page > .content > .container{
  display: grid;
  grid-template-columns: repeat(auto-fit , minmax(450px , 1fr));
  gap: 20px;
}
.page .container > .box{
  border-radius: 13px;
  background-color: white;
  overflow: hidden;
}
.page .container .box:not(.box.one){
  padding: 20px;
}
.page .container .box.one .head{
  background-color: #eee;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 20px;
}
.page .container .box.one .head img{
  width: 200px;
}
.page .container .box.one .head span{
  display: block;
  margin-top: 5px;
  color: var(--grey-color);
}
.page .container .box.one .head .avater{
  max-width: 64px;
  position: absolute;
  bottom: 0;
  transform: translate(-50% , 50%);
  left: 50px;
  background-color: transparent;
  padding: 4px;
  border-radius: 50%;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.152);
}
.page .container .box.one .info{
  display: flex;
  justify-content: space-around;
  border-block: 1px solid #eee;
  margin-block:60px 20px ;
  padding-block: 15px;
  text-align: center;
}
.page .container .box.one a{
  align-self: flex-end;
  margin: 0 15px 15px auto;
  transition: var(--main-transation);
}
.page .container .box.one .info span:last-child{
  display: block;
  font-size: 14px;
  color: var(--grey-color);
  margin-top: 8px;
}
@media (max-width:767px) {
  .page .container .box.one .head img:not(.avater){
    display: none;
  }
  .page .container .box.one .head .avater{
    left: 50%;
  }
  .page .container .box.one .head span{
    text-align: center;
    margin-bottom: 20px;
  }
  .page .container .box.one .info{
    flex-flow: column;
    gap: 17px;
  }
}
.container .box.two{
  display: flex;
  flex-flow: column wrap;
  gap: 20px;
}
.container .box.two p{
  font-size: 15px;
  color: var(--grey-color);
  margin-top: 10px;
}
.container .box.two textarea{
  resize: none;
  height: 180px;
}
.container .box.two textarea , .container .box.two input:first-of-type{
  background-color: #f1f1f1;
  padding: 10px;
  border: none;
  font-size: 13px;
  border-radius: 8px;
}
.container .box.two input:last-child{
  align-self: flex-end;
  cursor: pointer;
  transition: var(--main-transation);
}
.page .container .box.one a:hover , .container .box.two input:last-child:hover{
  background-color: var(--blue-alt-color);
}
.container .box.ten1{
  display: flex;
  flex-flow: column;
  gap: 20px;
}
.container .box.ten1 .info{
  display: flex;
  align-items: center;
  gap: 15px;
}
.container .box.ten1 .info img{
  width: 48px;
}
.container .box.ten1 .info p{
  color: var(--grey-color);
  margin-top: 5px;
}
.container .box.ten1>p{
  padding-block: 20px;
  border-block: 1px solid #ddd;
  line-height: 1.8;
}
.container .box.ten1 .react{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--grey-color);
}
.container .box.three>span , .container .box.four>span{
  color: var(--grey-color);
  display: block;
  margin-block: 10px 20px;
}
.container .box.three .card{
  display: flex;
  align-items: center;
  --local-color:var(--blue-color);
  margin-bottom: 15px;
}
.container .box.three .card:nth-child(2){
  --local-color:var(--orange-color)
}
.container .box.three .card:last-child{
  --local-color:var(--green-color);
  margin: 0;
}
.container .box.three i{
  color: var(--local-color);
  position: relative;
}
.container .box.three .icon{
  position: relative;
  width: 80px;
  aspect-ratio: 1;
  display: grid;
  place-items: center;
  margin-right: 10px;
}
.container .box.three .icon::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 80px;
  top: 0;
  left: 0;
  background-color: var(--local-color);
  opacity: .2;
}
.container .box.three .info{
  flex: 1;
  color: var(--grey-color);
  font-size: 14px;
}
.container .box.three .info h4{
  color: black;
  margin-block: 5px;
  font-size: 16px;
}
.container .box.three .info div:last-child::before{
  content: "";
  width: 100%;
  height: 3px;
  background-color: var(--local-color);
  opacity: .25;
  display: block;
}
.container .box.three .info div:last-child span{
  display: block;
  height: 3px;
  background-color: var(--local-color);
  position: relative;
  top: -3px;
}
.container .box.three .info div:last-child span::before{
  position: absolute;
  content: "";
  border: 6px solid;
  border-color: var(--local-color) transparent transparent;
  bottom: 100%;
  right: -4px;
}
.container .box.three .info div:last-child span::after{
  content: attr(data-num);
  color: white;
  background-color: var(--local-color);
  position: absolute;
  padding: 2px 5px;
  border-radius: 6px;
  font-size: 13px;
  right: -33px;
  top: -23px;
  transform: translate(-50% , -50%);
}
.container .box.four .content{
  display: grid;
  grid-template-columns: repeat(2 , 1fr);
  gap: 20px;
}
.container .box.four .content .box{
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}
.container .box.four .content .box i{
  font-size: 26px;
  color: var(--orange-color);
}
.container .box.four .content .box:nth-child(2) i{
  color: var(--blue-color);
}
.container .box.four .content .box:nth-child(3) i{
  color: var(--green-color);
}
.container .box.four .content .box:nth-child(4) i{
  color: var(--red-color);
}
.container .box.four .content .box h3{
  font-size: 25px;
  margin-block: 10px 2px;
}
.container .box.four .content .box span{
  font-size: 13px;
  color: var(--grey-color);
}
@media(max-width:767px){
  .container .box.four .content{
    grid-template-columns: 1fr;
  }
}
.container .box.ten2 .content{
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.container .box.ten2 .card:first-child{
  --local-color:#1da1f2;
  background-color: #1da1f225;
}
.container .box.ten2 .card:nth-child(2){
  --local-color:#1877f2;
  background-color: #1877f225;
}
.container .box.ten2 .card:nth-child(3){
  --local-color:#ff0000;
  background-color: #ff000025;
}
.container .box.ten2 .card:last-child{
  --local-color:#0077b5;
  background-color: #0077b525;
}
.container .box.ten2 .card{
  display: flex;
  gap: 10px;
  align-items:center;
  color: var(--local-color);
}
.container .box.ten2 .card .icon{
  min-width: 40px;
  width: 11%;
  max-width: 65px;
  aspect-ratio: .925;
  display: grid;
  place-items: center;
  color: white;
  background-color: var(--local-color);
  transition: var(--main-transation);
}
.container .box.ten2 .card .button{
  margin-inline:auto 15px ;
  background-color: var(--local-color);
  font-size: 13px;
}
.container .box.ten2 .card .icon:hover{
  rotate: 5deg;
}
.container .box.ten .content{
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.container .box.ten .line{
  display: flex;
  align-items: center;
  --local-color:var(--blue-alt-color);
}
.container .box.ten .line:nth-child(2){
  --local-color:var(--green-color)
}
.container .box.ten .line:nth-child(3){
  --local-color:var(--orange-color)
}
.container .box.ten .line:nth-child(4){
  --local-color:var(--red-color)
}
.container .box.ten .line >span{
  display: block;
  width: 15px;
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--local-color);
  margin-right: 15px;
}
.container .box.ten .line .info{
  border-left: 2px solid var(--local-color);
  padding-left: 15px;
  font-size: 13px;
  color: var(--grey-color);
}
.container .box.ten .line .info p{
  font-size: 14px;
  color: black;
  font-weight: bold;
  margin-bottom: 7px;
}
.container .box.nine .content{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}
.container .box.nine .content::before{
  position: absolute;
  content: "";
  height: 100%;
  top: 0;
  left:13px ;
  width: 2px;
  background-color: var(--blue-color);
}
.container .box.nine .content .line{
  display: flex;
  align-items: center;
  gap:15px;
  position: relative;
}
.container .box.nine .content .circle{
  height: 28px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 2px solid var(--blue-color);
  display: grid;
  place-items: center;
  background-color: white;
}
.container .box.nine .content .circle span{
  width: 85%;
  aspect-ratio: 1;
  background-color: var(--blue-color);
  border-radius: 50%;
  display: block;
}
.container .box.nine .line:nth-child(4) .circle span{
  animation: flick 1s linear infinite alternate;
}
@keyframes flick {
  to{
    opacity: 0;
  }
}
.container .box.seven .content{
  display: flex;
  margin-top: 20px;
  flex-flow: column;
  gap: 25px;
}
.container .box.seven .content .line{
  display: flex;
  align-items: center;
}
.container .box.seven .content .line:first-child{
  color: var(--grey-color);
}
.container .box.seven .content .line:not(:first-child) span:last-child
,.container .box.eight .file >span
,.container .box.five .card >span{
  display: block;
  background-color:#eee;
  font-size: 13px;
  padding: 5px 10px;
  border-radius: 6px;
  margin-left: auto;
} 
.container .box.eight .content{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.container .box.eight .content .file{
  display: flex;
  gap: 10px;
  align-items: center;
}
.container .box.eight .content img{
  width: 40px;
  aspect-ratio: 1;
}
.container .box.eight .content .file .info span:last-child{
  display: block;
  color: var(--grey-color);
  font-size: 15px;
}
.container .box.eight .content .file:not(:last-child) ,
.container .box.six .content .line:not(:last-child) ,
.container .box.five .content .card:not(:last-child){
  border-bottom:1px solid #ddd ;
  padding-bottom: 12.5px;
  margin-bottom: 12.5px;
}
.container .box.six .content{
  margin-top:20px;
  display: flex;
  flex-direction: column;
}
.container .box.six .content .line{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container .box.six .content .line.special .info{
  opacity: .3;
  text-decoration: line-through;
}
.container .box.six .content .line.special i , .container .box.six .content .line.special{
  opacity: .3;
} 
.container .box.six .content p{
  color: var(--grey-color);
}
.container .box.six .content h4{
  font-size: 15px;
  margin-bottom: 5px;
}
.container .box.six > .content > .line > i{
  transition: var(--main-transation);
}
.container .box.six .content .line i:hover{
  color: red;
  cursor: pointer;
}
.container .box.five .content{
  display: flex;
  margin-top: 20px;
  flex-direction: column;
}
.container .box.five .content img{
  max-width: 100px;
  border-radius: 6px;
}
.container .box.five .content .card{
  display: flex;
  align-items: center;
  gap: 15px;
}
.container .box.five .content .card:not(:last-child){
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.container .box.five .content .card p{
  font-size: 14px;
  color: var(--grey-color);
  margin-top: 5px;
}
@media (max-width:767px) {
  .container .box.five .content .card{
    flex-direction: column;
    text-align: center;
  }
  .container .box.five .content .card>span{
    margin: 0;
  }
}
.container .box.ten3{
  grid-column:1 / -1 ;
}
.container .box.ten3 img{
  width: 32px;
  border-radius: 50%;
  border: 2px solid white;
}
.container .box.ten3 .table{
  overflow: auto;
}
.container .box.ten3 table{
  min-width: 1000px;
  width: 100%;
  margin-top: 20px;
  border: 1px solid #eee;
  background-color: #eee;
  border-spacing: 1px;
  font-size: 15px;
}
.container .box.ten3 table tbody td{
  padding: 15px;
  position: relative;
}
.container .box.ten3 table tbody tr{
  position: relative;
  background-color: white;
  transition: var(--main-transation);
}
.container .box.ten3 table tbody tr:hover{
  background-color: #f9f9f9;
}
.container .box.ten3 table thead{
  background-color: #eee;
}
.container .box.ten3 table thead td{
  padding: 15px;
  font-weight: bold;
}
.container .box.ten3 table span{
  background-color: var(--green-color);
  font-size: 13px;
}
.container .box.ten3 table img:not(:first-child){
  margin-left: -20px;
}
.container .box.ten3 table tr:first-child span{
  background-color: var(--orange-color);
}
.container .box.ten3 table tr:nth-child(2) span{
  background-color: var(--blue-color);
}
.container .box.ten3 table tr:nth-last-child(2) span{
  background-color: var(--red-color);
}
@media (max-width:1170px){
  .page > .content > .container{
    grid-template-columns: 1fr;
  }
}